*~
.DS_Store
*.bk
*.out
*.swp
*.tmp

*.aux
*.bbl
*.blg
*.idx
*.ilg
*.lof
*.log
*.lot
*.lox
*.mpx
*.out
*.toc
*.synctex.gz*
*-eps-converted-to.pdf
mptextmp.mp
mptextemp.mp
mpxerr.tex

*.a
*.dylib
*.exe
*.mod
*.o
*.so

build/
tmp/
zgoubi/zgoubi
zpop/zpop

