#!/usr/bin/env bash

# Execute an example zgoubi file
# Exit on error or on use of unset variable
set -o errexit
set -o nounset
# Return highest error code in pipe chain
set -o pipefail

cp "@CMAKE_SOURCE_DIR@"/zgoubi/PARIZ.H original.pariz.h
pariz_h_file="@ZGOUBI_TEST_BIN_DIR@"/PARIZ.H
if [[ -f "$pariz_h_file" ]]; then
  cp "$pariz_h_file" "@CMAKE_SOURCE_DIR@"/zgoubi/
  make -j
  mv original.pariz.h "@CMAKE_SOURCE_DIR@"/zgoubi/PARIZ.H 
else
  echo "Missing cmake-configured PARIZ.H"
  exit 1
fi

cd "@ZGOUBI_TEST_BIN_DIR@"
if [[ ! -f zgoubi.dat ]]; then
  ln -s centeredHelix_FIT_save_nofinal_150226.res zgoubi.dat
fi
export warmSnakeFile=warmSnake.map
if [[ -f "${warmSnakeFile}.xz" ]]; then
  xz -dk "${warmSnakeFile}.xz"
else
  echo "Missing ${warmSnakeFile}.xz"
  exit 1
fi

# Execute zgoubi
"@CMAKE_BINARY_DIR@"/zgoubi

footer=10
res_file_length=$(wc -l zgoubi.res.expected | awk '{print $1;}')
let header=$res_file_length-$footer
if diff <(head -n $header zgoubi.res) <(head -n $header zgoubi.res.expected)
then
   echo "Test passed."
else
   echo "zgoubi.res differs from zgoubi.res.expected"
fi
rm $warmSnakeFile
