#!/usr/bin/env bash
# This file will likely be removed in the near future
# for a simpler, more vanilla CMake/CTest approach
# once dynamic memory allocation is implemented and tests
# no longer require recompilation for different inputs

# Execute a zgoubi input file for testing
# Exit on error or on use of unset variable
set -o errexit
set -o nounset
# Return highest error code in pipe chain
set -o pipefail

cp "@CMAKE_SOURCE_DIR@"/zgoubi/PARIZ.H original.pariz.h
pariz_h_file="@ZGOUBI_TEST_BIN_DIR@"/warmSnake/PARIZ.H
if [[ -f "$pariz_h_file" ]]; then
  cp "$pariz_h_file" "@CMAKE_SOURCE_DIR@"/zgoubi/
  pushd "@CMAKE_BINARY_DIR@"
  make -j
  popd
  mv original.pariz.h "@CMAKE_SOURCE_DIR@"/zgoubi/PARIZ.H
else
  echo "Missing cmake-configured PARIZ.H"
  exit 1
fi

cd "@ZGOUBI_TEST_BIN_DIR@/warmSnake"
if [[ ! -f zgoubi.dat ]]; then
  ln -s centeredHelix_FIT_save_nofinal_150226.res zgoubi.dat
fi
fieldMapFile=warmSnake.map
if [[ -f "${fieldMapFile}.gz" ]]; then
  gzip -dkf ${fieldMapFile}.gz
else
  echo "Missing ${fieldMapFile}.gz"
  exit 1
fi

# Execute zgoubi
"@CMAKE_BINARY_DIR@"/zgoubi

footer=10
(( header=$(wc -l < zgoubi.res.expected) - footer ))
if diff <(head -n $header zgoubi.res) <(head -n $header zgoubi.res.expected)
then
   echo "Test passed."
else
   echo "zgoubi.res differs from zgoubi.res.expected"
fi
rm $fieldMapFile
